/* /Users/jorgehernandez/Projects/creature-comforts/src/App.css */

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

body {
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

header {
  color: #3f3f3f;
  padding: 1rem;
  display: flex;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*  Home page styles */
.home-container .continue-button {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 20%;
}

/*  Cost Breakdown page styles */
.cost-breakdown-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cost-breakdown-container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 2rem;
}

.cost-breakdown-container .content .housing-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
}

.cost-breakdown-container .content .housing-info-container .housing-image img {
  height: 200px;
}

.cost-breakdown-container .header {
  font-size: 1.5rem;
  padding: 1rem;
}
